<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <nav>
        <ul>
          
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
     </div>
</div>